/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/mrisk/MRisk/target/
/laskarit/viikko2/dijkstraVSBellman/target/
/laskarit/viikko2/dijkstraVSBellman/
/laskarit/viikko2/Dijk/DijkstraVSDynamic/target/
/laskarit/viikko2/Dijk/
/laskarit/viikko2/KruskalVSPrim/nbproject/private/
/laskarit/viikko2/KruskalVSPrim/build/
/laskarit/viikko2/OppikirjaVSCompressed/nbproject/private/
/laskarit/viikko2/OppikirjaVSCompressed/build/
/laskarit/viikko2/KruskalVSPrim/
/laskarit/viikko2/OppikirjaVSCompressed/